# Configuration file for flake8 must be started with a comment ([flake8])
[flake8]
# Ignore specific errors and files from the Linting
exlucde =
    migrations,
    __pycache__,
    manage.py,
    settings.py,   